@media (max-width: 768px) {
  body {
    overflow-x: hidden; /* Evita que el contenido se salga horizontalmente */
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    z-index: 1000;
    padding: 10px 0;
  }

  .header-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }

  .logo {
    margin-bottom: 0;
  }

  .logo img {
    height: 30px;
  }

  .menu-toggle {
    display: block;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
  }

  nav {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #000;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    z-index: 999;
  }

  nav.active {
    max-height: calc(100vh - 50px);
  }

  nav ul {
    padding: 20px 0;
    margin: 10px;
    opacity: 0;
    flex-direction: column;
    transition: opacity 0.3s ease-out;
  }

  nav.active ul {
    opacity: 1;
  }

  nav ul li {
    margin: 10px 0;
  }

  nav ul li a {
    font-size: 16px;
  }

  nav ul li:last-child {
    margin-bottom: 5px;
  }

  .main-container {
    padding: 0 10px;
    margin-top: 120px;
    width: 100%;
    max-width: 100%;
    padding-top: 40px;
  }

  #home .main-container-home {
    padding: 0;
  }

  .portfolio-image {
    width: 100%;
    max-width: 100%;
  }

  #about .main-container-about {
    height: auto;
    padding: 20px;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
  }

  #about .rectangle,
  #about .circles,
  #about .stars {
    display: none;
  }

  #about .background {
    position: relative;
    height: auto;
    width: 100%;
    padding: 0;
  }

  #about .kazura-collins {
    position: relative;
    font-size: 36px;
    transform: none;
    margin-bottom: 20px;
    text-align: left;
  }

  #about .span-2024 {
    position: relative;
    font-size: 4vw;
    margin-bottom: 10px;
  }

  #about .span-isaac-montano {
    position: relative;
    font-size: 28px;
    margin-bottom: 15px;
    text-align: left;
  }

  #about .span-info,
  #about .span-multimedia-design {
    position: relative;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
  }

  #about .software-designer {
    position: relative;
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
    text-align: left;
  }

  #about .group-left {
    position: relative;
    width: 100%;
  }

  #about .languages,
  #about .software,
  #about .bilingual-common,
  #about .adobe-expert,
  #about .figma-expert,
  #about .html-css-js-expert {
    margin-left: 0;
    font-size: 14px;
    text-align: left;
  }

  #about .bilingual-common {
    font-size: 15px;
  }

  #experience {
    padding: 30px 0;
  }

  .experience-title {
    font-size: 36px;
    text-align: center;
  }

  .experience-content {
    flex-direction: column;
  }

  .experience-subtitle {
    font-size: 28px;
    text-align: center;
    margin-bottom: 15px;
  }

  .education .experience-subtitle,
  .professional-experience .experience-subtitle {
    transform: none;
  }

  .experience-box {
    margin-bottom: 20px;
  }

  .experience-list li {
    font-size: 16px;
  }

  .cv-button {
    display: block;
    text-align: center;
    margin: 20px auto 0;
  }

  #projects .project-content {
    flex-direction: column;
  }

  #projects .project-image,
  #projects .project-description {
    flex: 1;
    width: 100%;
  }

  /* Ocultar la versión de escritorio y mostrar la versión móvil */
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  /* Estilos para la sección about-mobile */
  #about-mobile {
    position: relative;
    overflow: hidden;
    background-color: #000;
    padding: 10px;
    text-align: center;
    min-height: 100vh; /* Asegura que la sección ocupe al menos toda la altura de la pantalla */
  }

  #about-mobile .stars-background {
    position: absolute;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200%;
    background: url(/assets/images/littlesatr.png) repeat;
    opacity: 0.5;
    z-index: 0;
    animation: rotating 120s linear infinite;
  }

  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  #about-mobile .main-container-about-mobile {
    position: relative;
    z-index: 1;
  }

  #about-mobile h2 {
    font-size: 32px;
    margin-bottom: 5px;
  }

  #about-mobile h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  #about-mobile p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.4;
  }

  #about-mobile .skills {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  #about-mobile .skills h4 {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .language-selector {
    margin: 5px 0;
  }

  #languageSelector {
    width: 100%;
    max-width: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 8px 15px;
    font-size: 16px;
    border: 1px solid #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  /* Estilo para las opciones del selector */
  #languageSelector option {
    background-color: #000;
    color: #fff;
  }

  /* Elimina completamente la flecha personalizada en móviles */
  .language-selector::after {
    content: none;
  }

  /* Oculta la flecha nativa del selector en diferentes navegadores */
  #languageSelector::-ms-expand {
    display: none;
  }

  .experience-content {
    flex-direction: column;
  }

  .professional-experience,
  .education {
    width: 100%;
    margin-bottom: 20px;
  }

  .experience-subtitle {
    font-size: 26px;
    text-align: center;
    margin-bottom: 10px;
  }

  .experience-list li {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .hide-on-mobile {
    display: none !important;
  }
}

@media (max-width: 480px) {
  .experience-title {
    font-size: 26px;
    margin-bottom: 15px;
  }

  .experience-subtitle {
    font-size: 22px;
    margin-bottom: 8px;
  }

  .experience-list li {
    font-size: 14px;
    margin-bottom: 3px;
  }

  #about .kazura-collins {
    font-size: 26px;
    margin-bottom: 10px;
  }

  #about .span-isaac-montano {
    font-size: 22px;
    margin-bottom: 8px;
  }

  #about .span-info,
  #about .span-multimedia-design,
  #about .software-designer {
    font-size: 14px;
    margin-bottom: 5px;
  }

  #about .languages,
  #about .software,
  #about .bilingual-common-languages,
  #about .native-language,
  #about .adobe-expert,
  #about .figma-expert,
  #about .html-css-js-expert {
    font-size: 13px;
    margin-bottom: 3px;
  }
}

/* Ajustes para el texto y evitar que se corte en dispositivos móviles */
.contenedor {
    max-width: 100%; /* Asegúrate de que el contenedor no exceda el ancho de pantalla */
    word-wrap: break-word; /* Ajusta el texto largo a la siguiente línea */
    overflow-wrap: break-word; /* Asegura que las palabras largas también se ajusten */
}

@media (min-width: 769px) {
  .desktop-only {
    display: block;
  }

  .mobile-only {
    display: none;
  }
}
